/* start of navbar code */


/* end of navrbar code */

/* start of body */
#about-us{

  background-image: url("aboutuspic.jpg");
}

/* #text {
color: white; */
/* end of body code */



/* start of sidebar code icon for social media */
.socialmedia{
    position: fixed;
    right: 0;
    bottom: 50%;
    z-index: 10;
}

.circle {
    border-radius: 50%;
    background-color: cyan;
    width: 50px;
    height: 50px;
    position: relative;
    margin-bottom: 2px;
}
.fa-twitter {
    color: white;
    position: absolute;
    left: 11px;
    bottom: 10px;
}
.fa-facebook-f {
    color: white;
    position: absolute;
    left: 18px;
    bottom: 10px;

}
.fa-instagram {
    position: absolute;
    left: 11px;
    bottom: 10px;
    color: white;
}
.circle-twitter {
background: #209ff8;
}
.circle-facebook {
    background: #3f5b9a;
}
.circle-instagram {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
/* end of social media code */

.navbar{
    background-color: black;
}
#floodlights{
    height: 100px;
}
#floodlights2{
    height:60px;
    align-content: center;
}
